# Use postgres/example user/password credentials
version: '3.1'

services:
  db:
    image: snoop 
    restart: always
    environment:
      POSTGRES_PASSWORD: coolio
    ports:
      - 5432:5432
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
