apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: REPLACE_WITH_K8S_CACERT
    server: https://REPLACE_WITH_K8S_API_ENDPOINT
  name: e2e-cluster
contexts:
- context:
    cluster: e2e-cluster
    user: e2e-user
  name: e2e-context
current-context: e2e-context
kind: Config
preferences: {}
users:
- name: e2e-user
  user:
    token: REPLACE_WITH_K8S_DEFAULT_TOKEN
