body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  width: 1100px;
  height: 650px;
  margin-top: 10px;
}

#main {
  float: right;
  width: 750px;
}

#sidebar {
  float: left;
  padding-left: 20px;
}

#sequence {
  width: 600px;
  height: 70px;
  display: none;
}

#legend {
  padding: 0 0 0 0;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 250px;
  left: 200px;
  width: 250px;
  text-align: center;
  color: #000;
  z-index: -1;
}

#reallybigline {
  font-size: 2.3rem;
  font-weight:700;
  color:black;
  line-height: 1.1;
}

#bigline {
  font-size: 1.25rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  color: black
}

#midline {
  font-size: 1.1rem;
  font-weight: bold;
}

#smallline {
  font-size: 0.8rem;
  word-wrap: break-word;
}

#percentage {
  font-size: 2.5em;
}
