[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	create-pull-request = !sh -c 'stash pull-request $0'
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[merge]
	tool = ediff
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
