* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
}


.grid_two-col{
  position: relative;
  display: grid;
  width: 80%;
  margin: auto;
  grid-template-columns: 1fr 3fr;
}

#sigs > li{
  list-style-type: none;
  margin-left: none;
  padding-left: none;
  margin-bottom: 0.5em;
}

#sigs > li:hover{
  color: red;
}

#sig-chairs {
  position: relative;
  top: 0;
}

#sig-chairs ul {
  position: fixed;
  top: 0;
  left: 50em;
}

#sig-chairs > h2{
  font-weight: bold;
  margin-bottom: 0.5em;
}

#greeting {
  height: 3em;
  display: flex;
  font-size: 1.2em;
  align-items: center;
  justify-content: flex-start;
}


#greeting .profile-photo {
  height: 100%;
}
