/* Color Variables */
:root {
    --primary-bg: #FFFCEB;
    --primary-color: #111111;
    --src-bg: #EEEEEE;
    --title-color: #00449E;
    --src-color: #001B44;
    --body-font: 'Fira Sans';
    --body-size: 22px;
    --line-height: 1.4em;
    --par-spacing: 1.6em;
    --figure-spacing: 1.6em;
    --heading-spacing: calc(var(--par-spacing)*2);
}
body {
    background: var(--primary-bg);
    color: var(--primary-color);
    font-family: var(--body-font);
    font-size: var(--body-size);
}
p {
    line-height: var(--line-height);
    margin-bottom: var(--par-spacing);
}

h1, h2, h3, h4 {
    color: var(--title-color);
}

h2 {
    margin-top: var(--heading-spacing);
}
h3 {
    margin-top: var(--heading-spacing);
    font-size: 1em;
}

div#content {
    max-width: 900px;
}
div.outline-2 {
    padding-left: 3em;
}

div.outline-2:first-child {
    padding-top: 3em;
}
table {
    font-size: 0.8em;
    width: 100%;
    margin-bottom: var(--figure-spacing);
}

table:last-child {
    margin-bottom: var(--heading-spacing);
}

/*
   We want to select the first h3 heading when an h2 starts with text,
   then cinch up the spacing.  Otherwise, the h3 seems way too far down.
*/
h2 + div.outline-text-2 + div.outline-3 h3:first-child {
    margin-top: var(--par-spacing);
}

table caption {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0.5em;
}

thead th.org-left {
    text-align: left;
}

thead th.org-right {
    text-align: right;
}

div.org-src-container pre  {
    background: var(--src-bg);
    color: var(--src-color);
    font-size: 0.75em;
}

div#table-of-contents {
    padding-left: 3em;
}

div#table-of-contents li {
    font-size: 0.8em;
}

div#table-of-contents h2 {
    margin-top: var(--par-spacing);
}
