/*
   Welcome to the Custom Stylesheet!
   The Majority of our styling is done through
   tachyons(https://tachyons.io).  This only holds
   styles that don't fit the tachyons way.
*/

.error {
  color: red;
}

.min-vh-80{
  min-height: 80vh;
}

.bg-cncf{
  background: url('./cncf.png')
}

.bg-packet{
  background: url('./packet.png')
}

.h3_5{
  height: 5rem;
}

.magic-pointer{
  cursor: pointer
}
