name: Update Coverage
on: push

jobs:
  vm-job:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: zachboyofdestiny/snoopdb:stable
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        ports:
        # will assign a random free host port
        - 5432/tcp
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v1
    - run: psql -c 'select 1;'
      working-directory: ./
      env:
        # use localhost for the host here because we are running the job on the VM.
        # If we were running the job on in a container this would be postgres
        POSTGRES_HOST: localhost
        POSTGRES_PORT: ${{ job.services.postgres.ports[5432] }} # get randomly assigned published portPOSTGRES_PORT: 5432
